body {
    font-size: small;
    font-family: arial,sans-serif;
}

.container {
  text-align:center;
  width:100%;
  height:auto;
  margin:0 auto;
  }

.logo-container {
    padding-top: 160px;
    padding-bottom: 5px;
    display: inline-block;
    align-items: center;
}


  .header-left a {
      float: left;
      text-align: center;
      padding: 14px 16px;
    text-decoration: none;
    color: black;
 
  }

  .header-right a {
      float: right;  
       text-align: center;
      padding: 14px 16px;
    text-decoration: none;
    color: black; 
  }

 input {
   float: center;
  width: 600px;
  height: 40px;
  border: 1px solid #E8E8E8;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}

button {
  background-color:#f2f2f2;
  border: none;
  padding: 15px;
  margin-left: auto;
  margin-bottom: 15px;
  color: #757575;
  font-size: 10pt;
  font: 1.1em;
  border-radius: 5px;
  flex-direction: row;

}


a {
  text-decoration: none;
  color: blue;
}

.footer {
  background: #f2f2f2;
  padding: 10px;
  position: fixed; 
  width: 100%;
  margin-top: 250px;
  font-size: 14px; 
  left: -5px; 
  border: 1px solid #DEDDE0;
}


.footer-left {
  float: left;

}

.footer-right {
  float: right;
  margin-right: 15px;
}

.footer-left a {
  padding: 14px 16px;
}

.footer-right a {
  padding: 14px 16px;

}

.footer a{
  color: #757575;

}

a:hover {
  text-decoration: underline; 
}